{% if status == 'exists' %}
    <form action="{% url 'user_profile' phone %}" method="GET">
        {{ form }}
        <input type="text" name="name" placeholder="Enter any 4-digit number">
        <input type="submit" name="form2" value="Сохранить">
    </form>
{% endif %}

{% if status == 'not_exists' %}
    <form action="{% url 'user_profile' phone %}" method="POST">
        {{ form }}
        <label>
            Код проверки:
            <input maxlength="4" type="text" name="name" placeholder="Enter any 4-digit number">
        </label>
        <input type="submit" name="form2" value="Сохранить">
    </form>
{% endif %}